<!DOCTYPE html>
<html>
<head>
    <div  th:replace="common/header.html"></div>


</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

    <div th:replace="common/navbar.html"></div>

    <div th:replace="common/aside.html"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="font-size: 0.9rem">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active"></li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-10">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">钉钉告警(发送内存，CPU，服务接口告警，若不需要，可以删除或停用)</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form" id="form1" method="post" th:action="@{'/dingset/save'}">
                               <input type="hidden" name="id" th:value="${dingSet.id}"/>
                                <div class="card-body">
                                    <!--<div class="form-group">
                                        <label for="exampleInputEmail1"><font color="red">*</font>是否启用告警邮件</label>
                                        <select class="form-control"   name="sendMail" id="sendMail">
                                            <option value="0">停用</option>
                                            <option value="1">启用</option>
                                        </select>
                                    </div>-->
                                    <div class="form-group">
                                        <label for="fromDingName"><font color="red">*</font>钉钉机器人接口</label>
                                        <input type="text"  th:value="${dingSet.fromDingName}" autocomplete="off" class="validate[required,maxSize[40],custom[email]] form-control" name="fromDingName" id="fromDingName" placeholder="hostname">
                                    </div>


                                    <div class="form-group">
                                        <label for="fromDingName"><font color="red">*</font>输入需要@人的手机号，使用;隔开</label>
                                        <input type="text" th:value="${dingSet.toPhone}"  autocomplete="off" class="validate[required,maxSize[200]] form-control" name="toPhone" id="toPhone" placeholder="18888888888;18088888888">
                                    </div>

                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="button" onclick="test()" class="btn btn-primary btn-sm">测试发送</button>
                                    <button type="submit" class="btn btn-primary btn-sm">保存</button>
                                    <button type="button"  th:onclick="del([[${dingSet.id}]])"  class="btn bg-gradient-danger btn-sm">删除</button>
                                </div>

                            </form>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->


                    </div>

                </div>
            </div>
        </section>
    </div>


    <div th:replace="common/footer.html"></div>

</div>

</body>
</html>
