<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgcloud.mapper.UserPassMapper">
    <resultMap id="resultMap" type="com.wgcloud.entity.UserPass">
        <id column="ID" property="id" jdbcType="CHAR"/>
        <result column="USERNAME" property="username" jdbcType="CHAR"/>
        <result column="PASSWD" property="password" jdbcType="CHAR"/>
        <result column="REGHTS" property="reghts_id" jdbcType="CHAR"/>
    </resultMap>

    <sql id="UserTables">
        ID
        ,USERNAME,PASSWD,REGHTS
    </sql>

    <insert id="save" parameterType="com.wgcloud.entity.UserPass">
        INSERT INTO USER_TABLES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="username != null">USERNAME,</if>
            <if test="password != null">PASSWD,</if>
            <!--<if test="reghts_id != null">REGHTS</if>-->
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="reghts_id != null">#{reghts_id}</if>
        </trim>

    </insert>

    <select id="selectUserPass" parameterType="map" resultMap="resultMap">
        SELECT
        <include refid="UserTables"/>
        FROM USER_TABLES t
        WHERE USERNAME=#{username}
    </select>

    <select id="selectByParams" parameterType="map" resultMap="resultMap">
        SELECT
        <include refid="UserTables"/>
        FROM USER_TABLES
        ORDER BY REGHTS DESC
    </select>

</mapper>